<nav class="navbar">
	<button onclick="toggleMenu()" class="burger"></button>
	<div class="dropdowns">
		<div class="dropdown">
			<button onclick="window.location.href = '{{path('app_musicbox')}}';">
				<img src="{{ asset ("assets/img/home.png")}}"/>
				Home
			</button>
		</div>
		<div class="dropdown">
			<button>
				<img src="{{ asset ("assets/img/list.png")}}"/>
				Choose Category
			</button>
			<div class="dropdown-menu">
				<div>
					<h2>Populars</h2>
					<button name="category" value="all">All</button>
				</div>
				<div>
					<h2>Other</h2>
					<button name="category" value="Pop">Pop</button>
					<button name="category" value="Electro">Electro Music</button>

				</div>
				<div>
					<h2>Détente/Classique</h2>
					<button name="category" value="Piano">Piano</button>
					<button name="category" value="Country">Country</button>

				</div>
			</div>
		</div>
		{% if app.user != null  %}
			<div class="dropdown">
				<button onclick="window.location.href = '{{path('app_favorites')}}';">
					<img src="{{ asset ("assets/img/heart.png")}}"/>
					Favoris
				</button>
			</div>
			<div class="dropdown">
				<button onclick="window.location.href = '{{path('app_logout')}}';">
					<img src="{{ asset ("assets/img/log-out.png")}}"/>
					logout
				</button>
			</div>
			<div class="dropdown">
				<button onclick="window.location.href = '{{path('edit_user_password')}}';">Change password</div>
			</div>
			<div class="user-info">
				<img src="{{ asset ("assets/img/user.png")}}"/>
				<span>Welcome,
					{{ app.user.name }}</span>
			</div>
		{% else %}
			<div class="dropdown">
				<button onclick="window.location.href = '{{path('app_login')}}';">Login</div>
			</div>
		{% endif %}

	</nav>
