{% extends 'base.html.twig' %}
{% block body %}
	{# {{dump (songs[0].music_title)}} #}

	{# ♡ #}
		{% if app.user %}
			<div class="mb-3"> You are logged in as
			{{ app.user.userIdentifier }},
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
	{% endif %}
	<div class="row">
		<div class="col-12">
			<div class="swiper mySwiper">
				<div class="swiper-wrapper">
					{% for song in songs %}
						{% set jsSong = {
    						id: song.id,
    						audio: song.audio,
    						singerName: song.singerName,
							musicTitle: song.musicTitle,
							cover: song.cover,
						} %}
						<div class="swiper-slide">
							<img src="{{asset ('uploads/covers/'~ song.cover ~'')}}"/>
							<div class="songDetails text-center bg-white py-2 w-full opacity-75">
								<h4 class="text-xl text-black font-bold">{{song.singerName}}</h4>
								<p class="text-base text-gray-900 font-normal">{{ song.musicTitle }}</p>
							</div>
							<button onclick="playMusicFromSwiper({{jsSong|json_encode}})" id="{{song.audio}}">
								play
							</button>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
{% endblock %}

{% block audioPlayer %}
	<div class="player">
		<div class="player-track">
			<div id="artist-name" class="artist-name">{{ songs[0].singerName }}</div>
			<div class="music-name" id="music-name">{{ songs[0].musicTitle }}</div>
			<audio id="audio">
				<source src='uploads/audio/{{songs[0].audio}}' type="audio/mp3">
			</audio>
			<div class="progress-bar" id="slider">
				<div class="fillBar" id="elapsed"></div>
			</div>
			<div class="time" id="timer">00:00</div>
		</div>
		<div class="circle">
			<div class="circ"></div>
			<div>
				<img id="thumbnail" class="thumbnail" src='uploads/covers/{{songs[0].cover}}'>
			</div>
		</div>
		<div class="player-control">
			<i id="prev" class="prev-btn fa fa-backward"></i>
			<button class="play-btn1 transparent-btn">
				<i id="play" class="play-btn fa fa-play"></i>
			</button>
			<i id="next" class="next-btn fa fa-forward"></i>
		</div>
	</div>
{% endblock %}
