{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	{# <form method="post">
																																		{% if error %}
																																			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
																																		{% endif %}
																																
																																		{% if app.user %}
																																			<div class="mb-3">
																																				You are logged in as
																																				{{ app.user.userIdentifier }},
																																				<a href="{{ path('app_logout') }}">Logout</a>
																																			</div>
																																		{% endif %}
																																
																																		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
																																		<label for="inputEmail">Email</label>
																																		<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
																																		<label for="inputPassword">Password</label>
																																		<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
																																
																																		<input
																																		type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
																																
																																		
																																				        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																																				        See https://symfony.com/doc/current/security/remember_me.html
																																				
																																				        <div class="checkbox mb-3">
																																				            <label>
																																				                <input type="checkbox" name="_remember_me"> Remember me
																																				            </label>
																																				        </div>
																																				    
																																
																																		<button class="btn btn-lg btn-primary" type="submit">
																																			Sign in
																																		</button>
																																	</form> #}

	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		{# {% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %} #}
		<div class="container">
			<div class="login-container">
				<input id="item-1" type="radio" name="item" class="sign-in" checked>
				<label for="item-1" class="item">Sign In</label>

				<input id="item-2" type="radio" name="item" class="sign-up">
				<label for="item-2" class="item">Sign Up</label>

				<div class="login-form">
					<div class="sign-in-htm">
						<div class="group">
							<input placeholder="Email" value="{{ last_username }}" id="user" type="email" class="input" name="email" autocomplete="email" required autofocus>
						</div>

						<div class="group">
							<input placeholder="Password" name="password" id="pass" type="password" class="input" data-type="password" autocomplete="current-password" required>
						</div>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div class="group">
							<input type="submit" class="button" value="Sign In">
						</div>
						<div class="hr"></div>
						<div class="footer">
							<a href="#forgot">Forgot Password?</a>
						</div>
					</div>
					<div class="sign-up-htm">
						<div class="group">
							<input placeholder="Username" id="user" type="text" class="input">
						</div>

						<div class="group">
							<input placeholder="Email adress" id="pass" type="text" class="input">
						</div>

						<div class="group">
							<input placeholder="Password" id="pass" type="password" class="input" data-type="password">
						</div>
						<div class="group">
							<input placeholder="Repeat password" id="pass" type="password" class="input" data-type="password">
						</div>

						<div class="group">
							<input type="submit" class="button" value="Sign Up">
						</div>
						<div class="hr"></div>
						<div class="footer">
							<label for="item-1">Already have an account?</a>
						</div>
					</div>
				</div>
			</div>
		</form>


	{% endblock %}
