<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{{ asset ("assets/img/favicon.png")}}">

		<title>
			{% block title %}{% endblock %}
			Symfony MusicBox
		</title>

		<!--Feuilles de style -->
		{% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{{ asset ("assets/css/style.css")}}"/>
		<link rel="stylesheet" href="{{ asset ("assets/css/player.css")}}"/>
		<link rel="stylesheet" href="{{ asset ("assets/css/playerAudio.css")}}"/>
		<link rel="stylesheet" href="{{ asset ("assets/css/registerForm.css")}}"/>
		<link rel="stylesheet" href="{{ asset ("assets/css/welcomePage.css")}}"/>
		<link rel="stylesheet" href="{{ asset ("assets/css/loginForm.css")}}"/>
		<link
		rel="stylesheet" href="{{ asset ("assets/css/editForm.css")}}"/>

		<!--Script JS -->
		{% block javascripts %}{% endblock %}
		<!--Swiper JS CDN -->
		<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
		<script src="{{ asset ("assets/js/app.js")}}" defer></script>
		<script src="{{ asset ("assets/js/registerPasswordRegex.js")}}" defer></script>
		<script src="{{ asset ("assets/js/validateRegistrationForm.js")}}" defer></script>


	</head>


	<body>
		{% block body %}{% endblock %}
		{% block welcome %}{% endblock %}

	</body>
	{% block audioPlayer %}{% endblock %}
</html></body></html>
